h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 23px;
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.intro h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 23px;
}

.intro p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 23px;
}

.skill-container {
    padding: 12px;
}

.skill {
    display: flex;
    align-items: center;
}

.progress-bar {
    background: red;
    height: 10px;
    border-radius: 5px;
    margin-left: 5px;
}

.progress-bar-html {
    width: 90%;
}

.progress-bar-css {
    width: 85%;
}

.progress-bar-js {
    width: 30%;
}

.progress-bar-c {
    width: 50%;
}

.progress-bar-py {
    width: 60%;
}

.main{
    margin: 20px 90px;
}

@media (max-width: 836px) {

    /* .sidebar{
        transform: translate(-443px ,0);
        position: absolute;
    } */

    .main {
        margin: 9px 4px;
    }

    .progress-bar-html {
        width: 45%;
    }

    .progress-bar-css {
        width: 42.5%;
    }
    
    .progress-bar-js {
        width: 15%;
    }
    
    .progress-bar-c {
        width: 25%;
    }
    
    .progress-bar-py {
        width: 30%;
    }

}