.btn{
    background-color: #fe0606;
    color: white;
    border: none;
    border-radius: 18px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px 25px;
    font-weight: bold;
    font-size: 18px;
}